.card {
    width: 18rem;
    box-shadow: -5px 5px 5px 5px var(--primary-light);
}

.card-body {
    background-color: var(--background);
}

.btn {
    margin-top: auto;
    background-color: var(--secondary);
    color: var(--on-secondary);
    border: 1px solid var(--on-secondary);
}