.card {
    width: 18rem;
    box-shadow: -5px 5px 5px 5px var(--primary-light);
}

.card0 {
    animation: card-intro 0.7s;
}

.card1 {
    animation: card-intro 0.8s;
}

.card2 {
    animation: card-intro 0.9s;
}

.card3 {
    animation: card-intro 1s;
}

.card-body {
    background-color: var(--background);
}

@keyframes card-intro {
    from {transform: translateY(800px)}
    to {transform: translateY(0px)}
}