#contact-section form {
    width: 100%;
}

.contact-label {
    margin-bottom: 0.25em;
}

.contact-input {
    margin-bottom: 0.75em;
}

#contact-textarea {
    width: 100%;
}

.contact-button {
    background-color: var(--secondary);
    color:var(--on-secondary);
    margin-right: 1em;
}

.name-label {
    animation: label-intro 0.6s;
}

.name-input {
    animation: input-intro 1s;
}

.email-label {
    animation: label-intro 0.8s;
}

.email-input {
    animation: input-intro 1.2s;
}

.comment-label {
    animation: label-intro 1s;
}

.comment-input {
    animation: input-intro 1.4s;
}

.submit-button {
    animation: button-intro 1s;
}

.reset-button {
    animation: button-intro 1.2s;
}


@keyframes label-intro {
    from {transform: translateX(-600px)}
    to {transform: translateX(0px)}
}

@keyframes input-intro {
    from {transform: translateX(1400px)}
    to {transform: translateX(0px)}
}

@keyframes button-intro {
    from {transform: translateY(400px)}
    to {transform: translateY(0px)}
}