#about-container {
    background-color: var(--about-bg);
    color: var(--about-color);
}

.about-target-anchor {
    position: absolute;
    left: 0px;
    top: 0px;
}

.about-main-div {
    display: flex;
    flex-wrap: wrap;
}

#about-img {
    width: 20%;
    min-width: 138px;
    margin-right: 20px;
}