:root {
    /* teal color theme */
    /* --lightest: #c4fff9;
    --light: #9ceaef;
    --mid: #68d8d6;
    --dark: #3dccc7;
    --darkest: #07beb8; */
    /* --home-bg: var(--darkest);
    --home-color: var(--lightest);
    --about-bg: var(--lightest);
    --about-color: var(--darkest);
    --portfolio-bg: var(--darkest);
    --portfolio-color: var(--lightest);
    --contact-bg: var(--lightest);
    --contact-color: var(--darkest);
    --footer-bg: var(--darkest);
    --footer-color: var(--lightest); */
    /* portfolio button shortcut */
    /* --home-portfolio-button-bg: var(--lightest);
    --home-portfolio-button-color: var(--darkest);
    --home-portfolio-button-border: var(--darkest); */
    /* about resume button */
    /* --resume-button-bg: var(--darkest);
    --resume-button-color: var(--lightest);
    --resume-button-border: var(--lightest); */
    /* projects */
    /* --weather-dash-bg: var(--light);
    --weather-dash-color: var(--darkest);
    --scheduler-bg: var(--dark);
    --scheduler-color: var(--lightest);
    --toby-time-bg: var(--light);
    --toby-time-color: var(--darkest);
    --weather-wear-bg: var(--dark);
    --weather-wear-color: var(--lightest); */
    /* project buttons */
    /* --weather-dashboard-button-bg: var(--dark);
    --weather-dashboard-button-color: var(--lightest);
    --weather-dashboard-button-border: var(--lightest);
    --work-scheduler-button-bg: var(--light);
    --work-scheduler-button-color: var(--darkest);
    --work-scheduler-button-border: var(--darkest);
    --toby-time-button-bg: var(--dark);
    --toby-time-button-color: var(--lightest);
    --toby-time-button-border: var(--lightest);
    --weather-wear-button-bg: var(--light);
    --weather-wear-button-color: var(--darkest);
    --weather-wear-button-border: var(--darkest); */
    /* contact buttons */
    /* --contact-button-bg: var(--darkest);
    --contact-button-color: var(--lightest); */
    /* pale-grey-blue theme */
    --lightest: #DCDCDD;
    --light: #C5C3C6;
    --mid: #46494C;
    --dark: #4C5C68;
    --darkest: #1985A1;
    /* sections */
    --home-bg: var(--darkest);
    --home-color: var(--lightest);
    --about-bg: var(--lightest);
    --about-color: var(--darkest);
    --portfolio-bg: var(--darkest);
    --portfolio-color: var(--lightest);
    --contact-bg: var(--lightest);
    --contact-color: var(--darkest);
    --footer-bg: var(--darkest);
    --footer-color: var(--lightest);
    /* portfolio button shortcut */
    --home-portfolio-button-bg: var(--lightest);
    --home-portfolio-button-color: var(--darkest);
    --home-portfolio-button-border: var(--darkest);
    /* about resume button */
    --resume-button-bg: var(--darkest);
    --resume-button-color: var(--lightest);
    --resume-button-border: var(--lightest);
    /* projects */
    --project-div-bg: var(--darkest);
    --project-div-color: var(--lightest);
    --project-div-border: var(--lightest);
    /* project buttons */
    --project-button-bg: var(--lightest);
    --project-button-color: var(--darkest);
    --project-button-border: var(--darkest);
    /* contact buttons */
    --contact-button-bg: var(--darkest);
    --contact-button-color: var(--lightest);
}

html {
    scroll-behavior: smooth;
}

.page-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-section h1 {
    margin-bottom: 40px;
}

#home-container {
    background-color: var(--home-bg);
    color: var(--home-color);
}

#links-div {
    margin-bottom: 1em;
}

#portfolio-button {
    background-color: var(--home-portfolio-button-bg);
    color: var(--home-portfolio-button-color);
    border: 1px solid var(--home-portfolio-button-border);
}

.font-awesome {
    color: var(--home-color);
    font-size: 2em;
}

#about-container {
    background-color: var(--about-bg);
    color: var(--about-color);
}

#resume-button {
    background-color: var(--resume-button-bg);
    color: var(--resume-button-color);
    border: 1px solid var(--resume-button-border);
}

#portfolio-container {
    background-color: var(--portfolio-bg);
    color: var(--portfolio-color);
}

#contact-container {
    background-color: var(--contact-bg);
    color: var(--contact-color);
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-color);
}

.target-anchor {
    position: absolute;
    left: 0px;
    top: 0px;
}

#home-section h1 {
    text-align: center;
}

.section-statement {
    text-align: center;
}

#portfolio-div {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.project-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: var(--project-div-bg);
    color: var(--project-div-color);
    border: 1px solid var(--project-div-border);
}

.project-div h3 {
    height: 70px;
    text-align: center;
}

.project-image {
    width: 200px;
}

.project-button {
    width: 100%;
    margin-top: 1em;
    background-color: var(--project-button-bg);
    color: var(--project-button-color);
    border: 1px solid var(--project-button-border);
}

#contact-section form {
    width: 100%;
}

#contact-textarea {
    width: 100%;
}

.contact-button {
    background-color: var(--contact-button-bg);
    color: var(--contact-button-color);
    border: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 476px) {
    .target-anchor {
        position: absolute;
        left: 0px;
        top: -56px;
    }
}