:root {
    /* pale-grey-blue theme */
    --lightest: #D7D5D7;
    --light: #ACACAF;
    --mid: #46494C;
    --dark: #4C5C68;
    --darkest: #11586A;
    /* sections */
    --home-bg: var(--darkest);
    --home-color: var(--lightest);
    --about-bg: var(--lightest);
    --about-color: var(--darkest);
    --portfolio-bg: var(--darkest);
    --portfolio-color: var(--lightest);
    --contact-bg: var(--lightest);
    --contact-color: var(--darkest);
    --footer-bg: var(--darkest);
    --footer-color: var(--lightest);
    /* navbar */
    --navbar-color: var(--lightest);
    --navbar-color-hover: var(--light);
    /* portfolio button shortcut */
    --home-portfolio-button-bg: var(--lightest);
    --home-portfolio-button-color: var(--darkest);
    --home-portfolio-button-border: var(--darkest);
    --home-portfolio-button-bg-hover: var(--dark);
    --home-portfolio-button-color-hover: var(--light);
    --home-portfolio-button-border-hover: var(--light);
    /* about resume button */
    --resume-button-color: black;
    --resume-button-color-hover: var(--lightest);
    /* projects */
    --project-div-bg: var(--light);
    --project-div-color: var(--darkest);
    --project-div-border: var(--darkest);
    /* project buttons */
    --project-button-bg: var(--lightest);
    --project-button-color: var(--darkest);
    --project-button-border: var(--darkest);
    --project-button-bg-hover: var(--light);
    --project-button-color-hover: var(--darkest);
    --project-button-border-hover: var(--darkest);
    /* contact buttons */
    --contact-button-bg: var(--darkest);
    --contact-button-color: var(--light);
    /* modal */
    --modal-header-bg: var(--darkest);
    --modal-header-color: var(--lightest);
    --modal-body-bg: var(--lightest);
    --modal-body-color: var(--darkest);
    --modal-footer-bg: var(--darkest);
    --modal-footer-color: var(--lightest);
    /* modal buttons */
    --modal-link-button-bg: var(--lightest);
    --modal-link-button-color: var(--darkest);
    --modal-link-button-border: var(--darkest);
    --modal-close-button-bg: var(--lightest);
    --modal-close-button-color: var(--darkest);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}


/* fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
}

h1 h2 h3 h4 h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !important;
}

.page-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-section h1 {
    margin-bottom: 40px;
}

#home-container {
    background-color: var(--home-bg);
    color: var(--home-color);
}

.nav-link {
    color: var(--navbar-color) !important;
}

.nav-link:hover {
    color: var(--navbar-color-hover) !important;
}

#links-div {
    margin-bottom: 1em;
}

#portfolio-button {
    background-color: var(--home-portfolio-button-bg);
    color: var(--home-portfolio-button-color);
    border: 1px solid var(--home-portfolio-button-border);
    padding: 1em;
    font-size: 1.5em;
}

#portfolio-button:hover {
    background-color: var(--home-portfolio-button-bg-hover);
    color: var(--home-portfolio-button-color-hover);
    border: 1px solid var(--home-portfolio-button-border-hover);
}

.font-awesome {
    color: var(--home-color);
    font-size: 2em;
}

#about-container {
    background-color: var(--about-bg);
    color: var(--about-color);
}

#resume-button {
    color: var(--resume-button-color);
}

#resume-button:hover {
    color: var(--resume-button-color-hover);
}

#portfolio-container {
    background-color: var(--portfolio-bg);
    color: var(--portfolio-color);
}

#contact-container {
    background-color: var(--contact-bg);
    color: var(--contact-color);
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-color);
}

.target-anchor {
    position: absolute;
    left: 0px;
    top: -56px;
}


/* home section */

#home-section h1 {
    text-align: center;
}

.section-statement {
    text-align: center;
}


/* portfolio section */

#portfolio-section h1 {
    margin-top: 40px;
}

#portfolio-div {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.project-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    /* background-color: var(--project-div-bg);
    color: var(--project-div-color); */
    /* border: 1px solid var(--project-div-border); */
}

.project-div h3 {
    text-align: center;
}

.project-image {
    width: 400px;
}

.project-button {
    margin-top: 1em;
    background-color: var(--project-button-bg);
    color: var(--project-button-color);
    border: 1px solid var(--project-button-border);
}

.project-button:hover {
    background-color: var(--project-button-bg-hover);
    color: var(--project-button-color-hover);
    border: 1px solid var(--project-button-border-hover);
}


/* contact section */

#contact-section form {
    width: 100%;
}

.contact-label {
    margin-bottom: 4px;
}

.contact-input {
    margin-bottom: 12px;
}

#contact-textarea {
    width: 100%;
}

.contact-button {
    background-color: var(--contact-button-bg);
    color: var(--contact-button-color);
    border: none;
}


/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* modal */

.modal-header {
    background-color: var(--modal-header-bg);
    color: var(--modal-header-color);
}

.modal-body {
    background-color: var(--modal-body-bg);
    color: var(--modal-body-color);
}

#project-carousel {
    margin-bottom: 8px;
}

.modal-footer {
    background-color: var(--modal-footer-bg);
    color: var(--modal-footer-color);
}

.modal-link-button {
    background-color: var(--modal-link-button-bg);
    color: var(--modal-link-button-color);
    border: 1px solid var(--modal-link-button-border);
}

#modal-close-button {
    background-color: var(--modal-close-button-bg);
    color: var(--modal-close-button-color);
    border: none;
}

@media screen and (max-width: 476px) {
    .target-anchor {
        position: absolute;
        left: 0px;
        top: -56px;
    }
}