:root {
    /* teal color theme */
    --lightest: #c4fff9;
    --light: #9ceaef;
    --mid: #68d8d6;
    --dark: #3dccc7;
    --darkest: #07beb8;
    --home-bg: var(--darkest);
    --home-color: var(--lightest);
    --about-bg: var(--lightest);
    --about-color: var(--darkest);
    --portfolio-bg: var(--darkest);
    --portfolio-color: var(--lightest);
    --contact-bg: var(--lightest);
    --contact-color: var(--darkest);
    --footer-bg: var(--darkest);
    --footer-color: var(--lightest);
    /* projects */
    --weather-dash-bg: var(--light);
    --weather-dash-color: var(--darkest);
    --scheduler-bg: var(--dark);
    --scheduler-color: var(--lightest);
    --toby-time-bg: var(--light);
    --toby-time-color: var(--darkest);
    --weather-wear-bg: var(--dark);
    --weather-wear-color: var(--lightest);
    /* project buttons */
    --weather-dashboard-button-bg: var(--dark);
    --weather-dashboard-button-color: var(--lightest);
    --weather-dashboard-button-border: var(--lightest);
    --work-scheduler-button-bg: var(--light);
    --work-scheduler-button-color: var(--darkest);
    --work-scheduler-button-border: var(--darkest);
    --toby-time-button-bg: var(--dark);
    --toby-time-button-color: var(--lightest);
    --toby-time-button-border: var(--lightest);
    --weather-wear-button-bg: var(--light);
    --weather-wear-button-color: var(--darkest);
    --weather-wear-button-border: var(--darkest);
    /* contact buttons */
}

html {
    scroll-behavior: smooth;
}

.page-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-section h1 {
    margin-bottom: 40px;
}

#home-container {
    background-color: var(--home-bg);
    color: var(--home-color);
}

#about-container {
    background-color: var(--about-bg);
    color: var(--about-color);
}

#portfolio-container {
    background-color: var(--portfolio-bg);
    color: var(--portfolio-color);
}

#contact-container {
    background-color: var(--contact-bg);
    color: var(--contact-color);
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-color);
}

.target-anchor {
    position: absolute;
    left: 0px;
    top: 0px;
}

#home-section h1 {
    text-align: center;
}

.section-statement {
    text-align: center;
}

#portfolio-div {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.project-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#weather-project {
    background-color: var(--weather-dash-bg);
    color: var(--weather-dash-color);
}

#scheduler-project {
    background-color: var(--scheduler-bg);
    color: var(--scheduler-color);
}

#toby-project {
    background-color: var(--toby-time-bg);
    color: var(--toby-time-color);
}

#weather-wear-project {
    background-color: var(--weather-wear-bg);
    color: var(--weather-wear-color);
}

.project-div h3 {
    height: 70px;
    text-align: center;
}

.project-image {
    width: 200px;
}

.project-button {
    width: 100%;
    margin-top: 1em;
}

#weather-dashboard-button {
    background-color: var(--weather-dashboard-button-bg);
    color: var(--weather-dashboard-button-color);
    border: 1px solid var(--weather-dashboard-button-border);
}

#work-scheduler-button {
    background-color: var(--work-scheduler-button-bg);
    color: var(--work-scheduler-button-color);
    border: 1px solid var(--work-scheduler-button-border);
}

#toby-time-button {
    background-color: var(--toby-time-button-bg);
    color: var(--toby-time-button-color);
    border: 1px solid var(--toby-time-button-border);
}

#weather-wear-button {
    background-color: var(--weather-wear-button-bg);
    color: var(--weather-wear-button-color);
    border: 1px solid var(--weather-wear-button-border);
}

#contact-section form {
    width: 100%;
}

#contact-textarea {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 476px) {
    .target-anchor {
        position: absolute;
        left: 0px;
        top: -56px;
    }
}