footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--primary);
    color: white;
    margin-top: auto;
}

footer .links-div-anchor {
    margin-right: 16px;
    color: white;
}

.social-icon {
    color: var(--on-primary);
}

.social-icon:hover {
    color: var(--secondary-light);
}

.font-awesome {
    font-size: 2em;
}