footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--primary);
    color: white;
    margin-top: auto;
}

footer .links-div-anchor {
    margin-right: 16px;
    color: white;
}

footer label {
    margin-left: 0;
}