:root {
    --primary: #263238;
    --primary-light: #4f5b62;
    --secondary: #0077c2;
    --light-grey: #ffffff;
    --dark-grey: #eeeeee;

}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}


/* fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Hind', sans-serif;
    background-color: var(--dark-grey);
    color: black;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100%;
    flex: 1;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !important;
}

#links-div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-icon {
    color: var(--social-icon-color) !important;
}

.social-icon:hover {
    color: var(--social-icon-color-hover) !important;
}

.font-awesome {
    color: var(--home-color);
    font-size: 2em;
}

#contact-container {
    background-color: var(--contact-bg);
    color: var(--contact-color);
}

.target-anchor {
    position: absolute;
    left: 0px;
    top: -56px;
}

@media screen and (max-width: 476px) {
    .about-target-anchor {
        position: absolute;
        left: 0px;
        top: -56px;
    }
    .target-anchor {
        position: absolute;
        left: 0px;
        top: -56px;
    }
}